version: '2'
services:
  data:
    image: openresty/openresty:stretch
    volumes:
      - ./data:/data:ro
      - ./nginx:/etc/nginx/conf.d:ro
    ports:
      - 8080:80
  qgis:
    image: camptocamp/qgis-server:2.18
    environment:
      #QGIS_SERVER_LOG_LEVEL: '0'
      GDAL_DISABLE_READDIR_ON_OPEN: 'TRUE'

      # seems to be the default, just here for documentation:
      #VSI_CACHE: 'TRUE'
      #VSI_CACHE_SIZE: '25000000'
      #CPL_VSIL_CURL_USE_CACHE: 'FALSE'
    volumes:
      - ./qgis:/project:ro
    links:
      - data
    ports:
      - 8180:80
    stop_signal: SIGKILL

  mapserver:
    image: camptocamp/mapserver:7.0
    environment:
      #MS_DEBUGLEVEL: 5
    volumes:
      - ./mapserver:/etc/mapserver:ro
    links:
      - data
    ports:
      - 8280:80
